<header class="page-header">
	<h2>Civil</h2>
	<h4 class="text-right">Estimado entre $X.XXX y $X.XXX</h4>
</header>

<form class="form-horizontal">
	<fieldset>
		<div class="control-group">
			<label class="control-label" for="city">Ciudad</label>
			<div class="controls">
				<input id="city" type="text" placeholder="Ciudad">
				<span class="help-inline">Lorem ipsum helpum</span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="city">Fecha</label>
			<div class="controls">
				<input id="city" type="date">
				<span class="help-inline">Lorem ipsum helpum</span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="city">Fotografo</label>
			<div class="controls">
				<select>
					<option></option>
					<option>Si</option>
					<option>No</option>
				</select>
				<span class="help-inline">Lorem ipsum helpum</span>
			</div>
		</div>
	</fieldset>
</form>

<h2>Tareas pendientes</h2>
<div class="accordion" id="task-list">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#task-list" href="#task-101">
				Reservar registro civil
			</a>
		</div>
		<div id="task-101" data-href="/mockup/tasks/101" class="accordion-body collapse">
			<div class="accordion-inner">Loading</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#task-list" href="#task-102">
				Enviar Invitaciones
			</a>
		</div>
		<div id="task-102" data-href="/mockup/tasks/102" class="accordion-body collapse">
			<div class="accordion-inner">Loading</div>
		</div>
	</div>
</div>
