<h2>Contrataciones</h2>
<article>
    <h3>Novedades</h3>
    <ul>
        <li>
            Nueva Respuesta:
            <figure class="media">
                <a href="/mockup/Contact" alt="Contactar" class="pull-left">
                    <img class="media-object" src="http://lorempixel.com/64/64/people" alt="someone else"/>
                </a>
                <div class="media-body">
                    <h6>Another provider</h6>
                    <small>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud enisi ut aliquip ex ea commodo
                        consequat (...) <a href="/mockup/Conversacion">Leer</a>
                    </small>
                </div>
            </figure>
        </li>
    </ul>
</article>

<article>
    <h3>Conversaciones en curso</h3>
    <table class='table table-hover'>
        <thead>
            <tr>
                <th>Origen</th>
                <th>Detalle</th>
                <th>Datos</th>
                <th>Presupuesto</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="/mockup/Civil">Civil</a></td>
                <td><a href="/mockup/tasks/hire">Contratar Fotografo</a></td>
                <td class="media">
                    <a href="/mockup/Contact" alt="Contactar" class="pull-left">
                        <img class="media-object" src="http://lorempixel.com/64/64/people?2" alt="someone else"/>
                    </a>
                    <div class="media-body">
                        <h6>Another provider</h6>
                        <small>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                        </small>
                    </div>
                </td>
                <td> $XX.XXX </td>
                <td><a href="/mockup/Conversacion">Ver</a></td>
            </tr>
        </tbody>
    </table>

</article>
