<section>
    <h2>Perez Osorio</h2>
    <article id="profile" class="tab-pane active">
        <h3>Profile</h3>
        <figure class="media">
            <a href="/mockup/Contact" alt="Contactar" class="pull-left">
                <img class="media-object" src="http://lorempixel.com/128/128/people" alt="someone else"/>
            </a>
            <div class="media-body">
                <small>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud enisi ut aliquip ex ea commodo
                </small>
            </div>
        </figure>
    </article>
    <article id="portfolio" class="tab-pane">
        <h3>Portfolio</h3>
        <ul class="thumbnails">
            <li class="span3"><a href="#" class="thumbnail"><img src="http://lorempixel.com/300/200?1"></a></li>
            <li class="span3"><a href="#" class="thumbnail"><img src="http://lorempixel.com/300/200?2"></a></li>
            <li class="span3"><a href="#" class="thumbnail"><img src="http://lorempixel.com/300/200?3"></a></li>
            <li class="span3"><a href="#" class="thumbnail"><img src="http://lorempixel.com/300/200?4"></a></li>
            <li class="span3"><a href="#" class="thumbnail"><img src="http://lorempixel.com/300/200?5"></a></li>
        </ul>
    </article>
    <article id="reviews" class="tab-pane">
        <h3>Reviews</h3>
        <ul>
            <li class="media">
                <a href="/mockup/Contact" alt="Contactar" class="pull-left">
                    <img class="media-object" src="http://lorempixel.com/64/64/people?3" alt="someone else"/>
                </a>
                <div class="media-body">
                    <h6>Algún usuario <span class="badge badge-success">+1</span></h6>
                    <small>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.
                    </small>
                </div>
            </li>
            <li class="media">
                <a href="/mockup/Contact" alt="Contactar" class="pull-left">
                    <img class="media-object" src="http://lorempixel.com/64/64/people?4" alt="someone else"/>
                </a>
                <div class="media-body">
                    <h6>Algún usuario <span class="badge badge-success">+1</span></h6>
                    <small>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.
                    </small>
                </div>
            </li>
        </ul>
    </article>
    <form action="/mockup/Conversacion" method="get">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="city">Nuevo Mensaje</label>
                <div class="controls">
                    <textarea id="city" type="text-area" placeholder="" class="input-block-level" rows="10"></textarea>
                    <span class="help-inline">Lorem ipsum help</span>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">Enviar</button>
                </div>
            </div>
        </fieldset>
    </form>
</section>
