<div id="task-102">

	<table class='table table-hover'>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>E-mail</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Invitado 1</td>
				<td>invitado.1@mail.com</td>
			</tr>
			<tr>
				<td>Invitado 2</td>
				<td>invitado.2@mail.com</td>
			</tr>
			<tr>
				<td>Invitado 3</td>
				<td>invitado.3@mail.com</td>
			</tr>
		</tbody>
	</table>

	<form class="form-horizontal" action="/mockup/tasks/102">
		<fieldset>
			<div class="control-group">
			    <div class="controls">
					<button type="submit" class="btn"><i class="icon-ok"></i> Enviar invitaciones!</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>
