<div id="201">
	<dl class="dl-horizontal">
		<dt>Sucursal:</dt>
		<dd>MONSERRAT</dd>
		<dt>Domicilio:</dt>
		<dd> AV ENTRE RIOS 452</dt>
		<dt>Código Postal:</dt>
		<dd> C1100ZAA</dt>
		<dt>Barrio / Partido:</dt>
		<dd> MONSERRAT</dt>
		<dt>Juridicción:</dt>
		<dd> Capital Federal</dt>
		<dt>Teléfono:</dt>
		<dd> 4382-8402</dt>
		<dt>Lunes a Viernes:</dt>
		<dd> 10:00 a 18:00</dt>
		<dt>Sábados:</dt>
		<dd> 10:00 a 13:00</dt>
	</dl>

	<form class="form-horizontal" action="/mockup/tasks/101">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="city">Horario</label>
				<div class="controls">
					<input id="city" type="text" placeholder="11:00">
					<span class="help-inline">Lorem ipsum help</span>
				</div>
			</div>
			<div class="control-group">
			    <div class="controls">
					<button type="submit" class="btn">Confirmar reserva</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>
