<h3>Compra de vestido de novia</h3>

<div id="task-204">
	<section class="configuration">
		<form class="form-horizontal" action="/mockup/tasks/202/private">
			<fieldset>
				<div class="control-group">
					<label class="control-label">Quiero que sea</label>
					<div class="controls">
						<div class="btn-group search-buttons" data-toggle="buttons-checkbox">
							<button type="button" class="btn btn-info">De modista</button>
							<button type="button" class="btn btn-info">Nuevo</button>
							<button type="button" class="btn btn-info">Alquilado</button>
						</div>
						<div class="btn-group" data-toggle="buttons-checkbox">
							<button type="button" class="btn btn-link no-search">Propio</button>
						</div>
					</div>
				</div>
			</fieldset>
		</form>

	</section>

	<section class="search-results hide">
		<h4>Proveedores disponibles</h4>
		<table class="table table-hover">
			<tbody>
				<tr>
					<td class="media">
						<a href="/mockup/Contact" alt="Contactar" class="pull-left">
							<img class="media-object" src="http://lorempixel.com/64/64/people" alt="someone"/>
						</a>
						<div class="media-body">
							<h6>Some provider</h6>
							<small>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat.
							</small>
						</div>
					</td>
					<td>
						$X.XXX a $XX.XXX
						<br/>
						<a href="/mockup/Contact">Ver</a>
					</td>
				</tr>
				<tr>
					<td class="media">
						<a href="/mockup/Contact" alt="Contactar" class="pull-left">
							<img class="media-object" src="http://lorempixel.com/64/64/people" alt="someone else"/>
						</a>
						<div class="media-body">
							<h6>Another provider</h6>
							<small>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat.
							</small>
						</div>
					</td>
					<td>
						$X.XXX a $XX.XXX
						<br/>
						<a href="/mockup/Contact">Ver</a>
					</td>
				</tr>
			</tbody>
		</table>

	</section>

	<h4>Contratacion particular</h4>
	<form class="form-horizontal" action="/mockup/tasks/202/private">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="city">Nombre / Empresa</label>
				<div class="controls">
					<input id="city" type="text" placeholder="">
					<span class="help-inline">Lorem ipsum help</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="city">E-mail de contacto</label>
				<div class="controls">
					<input id="city" type="text" placeholder="someone@gmail.com">
					<span class="help-inline">Lorem ipsum help</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="city">Monto</label>
				<div class="controls">
					<div class="input-prepend">
						<span class="add-on">$</span>
						<input id="city" type="text" placeholder="3.000,00" class="span2 text-right">
					</div>
					<span class="help-inline">Lorem ipsum help</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="city">Descripcion</label>
				<div class="controls">
					<textarea id="city" type="text-area" placeholder="" class="input-block-level" rows="10"></textarea>
					<span class="help-inline">Lorem ipsum help</span>
				</div>
			</div>
			<div class="control-group">
			    <div class="controls">
					<button type="submit" class="btn">Confirmar compra particular</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>
