<h3>Organización de mesas</h3>
<div id="task-304" class="row">
    <section class="configuration span7">

        <figure id="table-layout">
            <img class="img-rounded" src="/assets/images/mockup/table-layout.jpg">
        </figure>
        <div id="tables-information">
            <div class="table">
                <h4>Mesa principal</h4>
                <ul class="unstyled">
                    <li>Novio</li>
                    <li>Novia</li>
                    <li>Padre XX <button type="button" class="close" data-dismiss="alert">&times;</button><span class="label label-success">confirmado</span></li>
                </ul>
            </div>
            <div class="table">
                <h4>Mesa 2 <small>(Restantes 5)</small></h4>
                <ul class="unstyled">
                    <li>Ericka Loesch <button type="button" class="close" data-dismiss="alert">&times;</button><span class="label label-success">confirmado</span><span class="label label-info">+ 1</span></li>
                    <li>Gunther Fragger <button type="button" class="close" data-dismiss="alert">&times;</button><span class="label label-success">confirmado</span></li>
                </ul>
            </div>
            <div class="table">
                <h4>Mesa 3 <small>(Restantes 8)</small></h4>
                <ul class="unstyled">
                </ul>
            </div>
            <div class="table">
                <h4>Mesa 4 <small>(Restantes 8)</small></h4>
                <ul class="unstyled">
                </ul>
            </div>
            <div class="table">
                <h4>Mesa 5 <small>(Restantes 8)</small></h4>
                <ul class="unstyled">
                </ul>
            </div>
            <div class="table">
                <h4>Mesa 6 <small>(Restantes 8)</small></h4>
                <ul class="unstyled">
                </ul>
            </div>
            <div class="table">
                <h4>Mesa 7 <small>(Restantes 8)</small></h4>
                <ul class="unstyled">
                </ul>
            </div>
            <div class="table">
                <h4>Mesa 8 <small>(Restantes 8)</small></h4>
                <ul class="unstyled">
                </ul>
            </div>
            <div class="table">
                <h4>Mesa 9 <small>(Restantes 8)</small></h4>
                <ul class="unstyled">
                </ul>
            </div>
            <div class="table">
                <h4>Mesa 10 <small>(Restantes 8)</small></h4>
                <ul class="unstyled">
                </ul>
            </div>
            <div class="table">
                <h4>Mesa 11 <small>(Restantes 8)</small></h4>
                <ul class="unstyled">
                </ul>
            </div>
            <div class="table">
                <h4>Mesa 12 <small>(Restantes 8)</small></h4>
                <ul class="unstyled">
                </ul>
            </div>
            <div class="table">
                <h4>Mesa 13 <small>(Restantes 8)</small></h4>
                <ul class="unstyled">
                </ul>
            </div>
        </div>

    </section>
    <aside class="span3 guests-affix" data-spy="affix" data-offset-top="1">
        <h4>Invitados sin sentar</h4>
        <form class="form-horizontal">
            <input type="text" placeholder="Filtrar invitados">
        </form>
        <ul id="guests-picker" class="unstyled">
            <li>Belia Casiano <span class="label label-success">confirmado</span></li>
            <li>Duncan Bothe <span class="label label-success">confirmado</span></li>
            <li>Ericka Loesch <span class="label">pendiente</span></li>
            <li>Fermina Rexford <span class="label label-success">confirmado</span></li>
            <li>Gabriel Harrah <span class="label label-important">cancelado</span></li>
            <li>Hilary Picou <span class="label">pendiente</span></li>
            <li>Idalia Malone <span class="label">pendiente</span></li>
            <li>Ileen Lenz <span class="label label-success">confirmado</span></li>
            <li>Jeneva Hertzler <span class="label label-success">confirmado</span></li>
            <li>Kemal Zhong <span class="label label-success">confirmado</span></li>
            <li>Kyung Fairley <span class="label label-success">confirmado</span></li>
            <li>Laurine Jacinto <span class="label">pendiente</span></li>
            <li>Levi Myrick <span class="label label-success">confirmado</span></li>
            <li>Meryl Guerrant <span class="label label-success">confirmado</span></li>
            <li>Milissa Hove <span class="label label-success">confirmado</span></li>
            <li>Neomi Karl <span class="label label-success">confirmado</span></li>
            <li>Niki Dimond <span class="label label-success">confirmado</span></li>
            <li>Odessa Melia <span class="label label-success">confirmado</span></li>
            <li>Richelle Dials <span class="label label-important">cancelado</span></li>
            <li>Sena Loso <span class="label label-success">confirmado</span></li>
            <li>Sheldon Peskin <span class="label label-success">confirmado</span></li>
            <li>Willy Kleopatros <span class="label label-success">confirmado</span></li>
            <li>Xabier Aqissiaq <span class="label label-success">confirmado</span></li>
            <li>Xyrtranna Lightouch <span class="label label-success">confirmado</span></li>
        </ul>
    </aside>
</div>
