<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Direccion</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr class="success">
      {{#hirings}}
            <td>{{name}}  <img class="media-object" src="{{picture}}" alt="someone else"/></td>
            <td>{{price}}</td>
            <td>{{address}}</td>
            <td>No contactado</td>
            <td><a href="/mockup/Conversacion">Contactar</a></td>
        {{/hirings}}
    </tr>
    <tr class="error">
      <td>2</td>
      <td>TB - Monthly</td>
      <td>02/04/2012</td>
      <td>Declined</td>
    </tr>
    <tr class="warning">
      <td>3</td>
      <td>TB - Monthly</td>
      <td>03/04/2012</td>
      <td>Pending</td>
    </tr>
    <tr class="info">
      <td>4</td>
      <td>TB - Monthly</td>
      <td>04/04/2012</td>
      <td>Call in to confirm</td>
    </tr>
  </tbody>
</table>