@(tasks: Seq[model.domain.Task])(content: Html = Html(""))

@import model.domain.Task
@import model.domain.tasks._
@import views.html.helper.events._

@accordionTask(task: Task, index: Integer) = {
<div id="@task.slug" class="accordion-group">
    @task match {
        case task: FakeTask => {
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#tasks-list" href="#@{task.slug}-container">
                    @task.name
                </a>
            </div>
            <div id="@{task.slug}-container" data-href="@task.getUrl()" class="accordion-body collapse" data-target="@task.mockupId">
                <div class="accordion-inner">Loading</div>
            </div>
        }
        case _ => {
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#tasks-list" href="#@{task.slug}-container">
                    @task.name
                </a>
            </div>
            <div id="@{task.slug}-container" data-href="@task.getUrl()" class="accordion-body collapse" data-target="@task.slug">
                <div class="accordion-inner">Loading</div>
            </div>
        }
    }
</div>
}

<h2>Tareas pendientes</h2>
<div class="accordion" id="tasks-list">
    @for((task, index) <- tasks.zipWithIndex) {
        @accordionTask(task, index)
    }
    @* This @content is included to allow to add more hardcoded tasks *@
    @content
</div>
