@(invitados: List[model.domain.guests.Guest])

@account("Organizacion de mesas"){

<h3>Organización de mesas</h3>
<div id="task-304" class="row">
    <section class="configuration span7">

        <figure id="table-layout">
            <img class="img-rounded" src="/assets/images/mockup/table-layout.jpg">
        </figure>
        <div id="tables-information">
        </div>

    </section>
    
    <aside class="span3 guests-affix" data-spy="affix" data-offset-top="1">
        <h4>Invitados sin sentar</h4>

        
            <input id="filter" type="text" placeholder="Filtrar invitados">
       
        <ul class="unstyled guests-tables guests-picker">
            @for(invitado <- invitados){
            <li class="sortable-item" style="display: list-item;" value="2">
                @invitado.getName()
                <span class="label label-success">
                    @invitado.getStatusFiesta().getCode() match{
                        case "confirmed" => {Confirmado}
                        case "invited" => {Invitado}
                        case "canceled" => {Cancelado}
                        case "not-invited" => {No Invitado}
                    }
                </span>
            </li>
            }
           
        </ul>
    </aside>
</div>
}