@(title: String)

<div id="top-nav" class="container">
	<!-- This link should go to home instead of hardcoded mockup -->
	<a class="nav-logo" href="@routes.Mockup.at("Dashboard")">
		<img src="@routes.Assets.at("images/nav_logo.png")" alt="miBoda.com" />
	</a>
	<a class="brand" href="@routes.Mockup.at("Dashboard")">
		Casamiento de @title
	</a>
	<ul class="nav pull-right">
		<li><a href="@routes.Mockup.at("Dashboard")">Dashboard</a></li>
		<li><a href="@routes.Mockup.at("Inbox")">Inbox</a></li>
		<li><a href="@routes.UserController.user()">Account</a></li>
	</ul>
</div>
