@(partyForm: play.data.Form[model.domain.events.Party])

@import helper.bootstrap._

@helper.form(action = routes.EventsController.update("PARTY"), args = 'class -> "form-horizontal") {
    @helper.select(partyForm("city"),
        helper.options(Seq("", "Capital Federal", "Pilar", "Quilmes", "Otro")),
        '_label -> "Ciudad", '_help -> "Ciudad dónde querés que sea la fiesta",
        Symbol("data-placeholder") -> "Choose a country...")

    @helper.inputDate(partyForm("date"),
        '_label -> "Fecha", '_help -> "Fecha deseada para la fiesta")

    @helper.buttonRadio(partyForm("when"), Seq(("Día", "DAY"), ("Noche", "NIGHT")),
        '_label -> "Cuándo?")

    @helper.checkboxes(partyForm("extras"),
        Seq(
            ("Banda", "band"),
            ("DJ", "dj"),
            ("Cotillón", "cotillon"),
            ("Decoración especial", "special-decoration"),
            ("Fotógrafo", "photographer"),
            ("Filmación", "film"),
            ("Fuegos artificiales", "fireworks")
        ),
        '_label -> "Extras")
}
