@(event: model.domain.events.Party)

<form class="form-horizontal">
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="city">Ciudad</label>
            <div class="controls">
                <input id="city" type="text" placeholder="Ciudad">
                <span class="help-inline">Lorem ipsum helpum</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="city">Fecha</label>
            <div class="controls">
                <input id="city" type="date">
                <span class="help-inline">Lorem ipsum helpum</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Cuándo?</label>
            <div class="controls">
                <div class="btn-group search-buttons" data-toggle="buttons-radio">
                    <button type="button" class="btn btn-info">Día</button>
                    <button type="button" class="btn btn-info">Noche</button>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="city">Extras</label>
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox"> Banda
                </label>
                <label class="checkbox">
                    <input type="checkbox"> DJ
                </label>
                <label class="checkbox">
                    <input type="checkbox"> Cotillón
                </label>
                <label class="checkbox">
                    <input type="checkbox"> Decoración especial
                </label>
                <label class="checkbox">
                    <input type="checkbox"> Fotógrafo
                </label>
                <label class="checkbox">
                    <input type="checkbox"> Filmación
                </label>
                <label class="checkbox">
                    <input type="checkbox"> Fuegos artificiales
                </label>
            </div>
        </div>
    </fieldset>
</form>

<h2>Tareas pendientes</h2>
<div class="accordion" id="task-list">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#task-list" href="#task-301">
                Contratar Salón
            </a>
        </div>
        <div id="task-301" data-href="/mockup/tasks/hire" class="accordion-body collapse" data-target="task-202">
            <div class="accordion-inner">Loading</div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#task-list" href="#task-302">
                Contratar catering
            </a>
        </div>
        <div id="task-302" data-href="/mockup/tasks/hire" class="accordion-body collapse" data-target="task-202">
            <div class="accordion-inner">Loading</div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#task-list" href="#task-303">
                Enviar invitaciones
            </a>
        </div>
        <div id="task-303" data-href="/mockup/tasks/102" class="accordion-body collapse" data-target="task-102">
            <div class="accordion-inner">Loading</div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" href="/mockup/tasks/tables">
                Organizar mesas
            </a>
        </div>
    </div>
</div>
