@(event: model.domain.Event)

@import model.domain.events._

@extraScripts = {
    <script type="text/javascript">
        $(new EventController().init);
    </script>
}

@account(event.name, extraScripts) {

    <header class="page-header">
        <h2>@event.name</h2>
        <h4 class="text-right">
            Estimado entre
            <span class="formatted-range">@helper.budget.range(event)</span>
        </h4>
    </header>

    <section id="event-information">
        @event match {
            case event: Civil    => { @showCivil(event) }
            case event: Ceremony => { @showCeremony(event) }
            case event: Party    => { @showParty(event) }
        }
    </section>

}
