@(wedding: model.domain.Wedding)

@import model.domain.tasks._

@account("Presupuesto") {

    <section class="hero-costs hero-unit">
        <!-- Esto falta separarlo entre lo comprometido y lo realmente gastado -->
        <dl class="dl-horizontal">
            <dt>Disponible</dt>
            <dd class="text-right">@helper.budget.toMoney(wedding.getAmountAvailable())<dt>
            <dt>Gasto acumulado</dt>
            <dd class="text-right">@helper.budget.toMoney(wedding.getTotalCost())<dt>
            <dt>Total estimado</dt>
            <dd class="text-right">entre @helper.budget.range(wedding)<dt>
        </dl>
    </section>
    <section>
        <h4>Contrataciones pendientes</h4>
        <table class='table table-hover'>
            <thead>
                <tr>
                    <th>Origen</th>
                    <th>Detalle</th>
                    <th class="text-right">Valor estimado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @for(event <- wedding.getEvents()) {
                @for(task <- event.getPendingTasks()) {
                    @task match {
                        case hire: SimpleHire => {
                            <tr>
                                <td><a href="@routes.EventsController.show(event.getTypeName())">@event.name</a></td>
                                <td>@task.name</td>
                                <td class="text-right">@helper.budget.range(task)</td>
                                <td class="text-center"><a href="@routes.TasksController.show(event.getTypeName(), task.slug)">ver</a></td>
                            </tr>
                        }
                        case _ => {@* Ignore task if it isn't a hire task *@ }
                    }
                }
            }
            </tbody>
        </table>
    </section>

    @expenses.listActives(wedding.getAllActiveExpenses())
}

