@(hirings: List[model.domain.Hiring])

@import helper.bootstrap._

@extraScripts = {
  <script type="text/javascript">
    //begin main function
    $(".dropdown-menu li a").click(function(){
      $.getJSON($(this).attr("href"), function(json){
        renderHandlebarsTemplate("@routes.Assets.at("javascripts/template_tableProvider.handlebars")", '#tableContainer', json);
      });
    });
    //end main function

    // function to compile handlebars template
    function renderHandlebarsTemplate(withTemplate,inElement,json){
      getTemplateAjax(withTemplate, function(template) {
        $(inElement).html(template(json));
      })
    };

    // render handlebars templates via ajax
    function getTemplateAjax(path, callback) {
      var source, template;
      $.ajax({
        url: path,
        success: function (data) {
          source   = data;
          template = Handlebars.compile(source);
          if (callback)
            callback(template);
        }
      });
    };
  </script>
}

@account("Contrataciones", extraScripts) {

<h2>Contrataciones</h2>
<article>
    <h3>Novedades</h3>
    <ul>
        <li> No tiene novedades por el momento </li>
    </ul>
</article>

<article>
    <h3>Conversaciones en curso</h3>
    @nonEmptyOrElse(hirings.toSeq) { hirings =>
    <table class='table table-hover'>
        <thead>
            <tr>
                <th>Origen</th>
                <th>Detalle</th>
                <th>Datos</th>
                <th>Presupuesto</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @for(hiring <- hirings) {
            <tr>
                <td><a href="@routes.EventsController.show(hiring.eventType)">@helper.events.titleFromType(hiring.eventType)</a></td>
                <td>
                    @hiring.getTask().name <span class="label label-success">Esperando</span>
                    <br/>
                </td>
                <td class="media">
                    <a href="@routes.HiringController.show(hiring.getId())" class="pull-left">
                        <img class="media-object" width="200" height="133"
                             src="/assets/images/app/@hiring.getPicture()" alt="@hiring.getName()"/>
                    </a>
                    <div class="media-body">
                        <div class="media-body">
                            <h6>@hiring.getName()</h6>
                            <small>@hiring.getDescription()</small>
                        </div>
                    </div>
                </td>
                <td>
                  <em>Sin cotizar</em>
                </td>
                <td>
                  <a href="@routes.HiringController.show(hiring.getId())">Ver Conversación</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    } {
      <p>No tiene contrataciones en curso. Use el buscador o vaya al evento para el que quiera contratar y busque usando la tarea de contratación correspondiente.</li>
    }
</article>

<div id="hiring-actions">
  <div class="btn-group">
    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Buscar mas..
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="@routes.ProviderController.getProviderByType(model.domain.Provider.ProviderType.Lugares.toString())" onclick="return false;">@model.domain.Provider.ProviderType.Lugares</a></li>
      <li class="divider"></li>
      <li><a href="@routes.ProviderController.getProviderByType(model.domain.Provider.ProviderType.Fotos.toString())" onclick="return false;">@model.domain.Provider.ProviderType.Fotos</a></li>
      <li class="divider"></li>
      <li><a href="@routes.ProviderController.getProviderByType(model.domain.Provider.ProviderType.Videos.toString())" onclick="return false;">@model.domain.Provider.ProviderType.Videos</a></li>
      <li class="divider"></li>
      <li><a href="@routes.ProviderController.getProviderByType(model.domain.Provider.ProviderType.Musica.toString())" onclick="return false;">@model.domain.Provider.ProviderType.Musica</a></li>
    <li class="divider"></li>
      <li><a href="@routes.ProviderController.getProviderByType(model.domain.Provider.ProviderType.Otros.toString())" onclick="return false;">@model.domain.Provider.ProviderType.Otros</a></li>
    </ul>
  </div>

  <div id="tableContainer" class="table table-bordered table-striped media"></div>
</div>

}
