#guests-picker {
    height: 100%;
    max-height: 300px;
    overflow: scroll;
    li {
        line-height: 30px;
        padding-left: 1em;
    }
    li:hover {
        cursor: pointer;
        background-color: #ddd;
    }
}

#tables-information {
    .table {
        .label { float: right; }
        li { padding: 5px; }
        li:hover {
            cursor: pointer;
            background-color: #ddd;
        }
        ul { padding: 5px 0;}
    }
    .close {
        margin-top: -5px;
        padding: 0 4px 8px;
        background-color: #ddd;
    }
}

.guests-affix {
    margin-top: -40px;
}
.guests-affix.affix {
    // right: 0;
    margin-left: 580px;
}
