@(userForm: play.data.Form[model.domain.User])

@import helper.bootstrap._

@main("Signup") {

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner"> @shared.topNav()() </div>
	</div>

	<div class="container">
		<h1>Signup</h1>

		@helper.form(action = routes.UserController.addUser(), args = 'class -> "form-horizontal") {

			@helper.inputText(userForm("email"),
				'_label -> "Email", '_help -> "", 'placeholder -> "email")

			@helper.inputPassword(userForm("password"),
				'_label -> "Contraseña", '_help -> "", 'placeholder -> "password")

			@helper.inputText(userForm("Presupuesto aproximado"),
				'_label -> "Presupuesto aproximado", '_help -> "", 'placeholder -> "45000")

			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn-success">Registrarme</button>
				</div>
			</div>
		}
	</div>
}
