#top-nav {
	margin-top: 10px;
	.nav-logo {
		margin-top: -10px;
	}
}
#wedding-management {
	margin-top: 60px;
	.nav {
		padding-top: 20px;
	}
}

.nav-logo {
	float: left;
}

.navbar .brand {
	margin-left: 0;
}