@(expense: model.domain.Expense)

@import model.domain.Expense

@expense match {
    case hire: Expense.CustomHire => {
        <div class="pull-left">
            <img class="media-object" src="@routes.Assets.at("images/custom-hire.jpg")" alt="@hire.name"/>
        </div>
        <div class="media-body">
            <h6>@hire.name <em>@hire.email</em></h6>
            <small>@hire.description</small>
        </div>
    }
    case providerHire: Expense.ProviderHire => {
        @defining(providerHire.getProvider) { hire =>
            <div class="pull-left">
                <img class="media-object" src="@routes.Assets.at("images/app")/@hire.getPicture()" alt="@hire.getName()"/>
            </div>
            <div class="media-body">
                <h6>@hire.getName() <em>@hire.getMail()</em></h6>
                <small>@hire.getDescription()</small>
            </div>
        }
    }
    case _ => {
    }
}
