@(invitados: List[model.domain.guests.Guest], guestForm: play.data.Form[model.domain.guests.Guest])

@account("Invitados") {
	<h2>Invitados</h2>
	<nav class="text-right">
		<div class="control-group">
			<button type="submit" class="btn btn-success boton-agregar-invitado"><i class="icon-plus"></i> Agregar invitado</button>
			<select class="invites-filter">
				<option selected="selected"><em>Filtros</em></option>
				<option>Civil</option>
				<option>Ceremonia</option>
				<option>Fiesta</option>
			</select>
		</div>
	</nav>
	<table class="table table-hover">
		<thead>
			<tr>Nombre</tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
		</thead>
		<tbody>
		@for(invitado <- invitados){
			<tr class="fila-invitado">
				<td class="table-name-cell">@invitado.getName()</td>
				<td class="table-sticker-cell">
					<a href="#" class="js-invite"><img src="/assets/images/sprites/wedding-rings.png" class="@("img-sticker img-circle civil " + invitado.getStatusCivil().getCode())" width="64px"></a>
				</td>
				<td class="table-sticker-cell">
					<a href="#" class="js-invite"><img src="/assets/images/sprites/wedding-bells.png" class="@("img-sticker img-circle ceremonia " + invitado.getStatusIglesia().getCode())" width="64px"></a>
				</td>
				<td class="table-sticker-cell">
					<a href="#" class="js-invite"><img src="/assets/images/sprites/wedding-night.png" class="@("img-sticker img-circle fiesta " + invitado.getStatusFiesta().getCode())" width="64px"></a>
				</td>
			</tr>
		}
		</tbody>
	</table>

	<form class="form-horizontal" action="/mockup/tasks/102">
		<fieldset>
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn"><i class="icon-ok"></i> Enviar invitaciones!</button>
				</div>
			</div>
		</fieldset>
	</form>

	<div id="form-agregar-invitado" class="container" style="display: none;">
		<h1>Registrar Invitado</h1>

		@form(guestForm)

	</div>
}
